mixin code-angular(name)
  case name
    when 'single'
      +code
        include:code ../codes/angular/single.html
      +code
        include:code ../codes/angular/single.js

    when 'font'
      +code
        include:code ../codes/angular/font.html
      +code
        include:code ../codes/angular/font.js

    when 'icon-set'
      +code
        include:code ../codes/angular/icon-set.html
      +code
        include:code ../codes/angular/icon-set.js

    when 'image'
      +code
        include:code ../codes/angular/image.html
      +code
        include:code ../codes/angular/image.js

    when 'sprite'
      +code
        include:code ../codes/angular/sprite.html
      +code
        include:code ../codes/angular/sprite.js

    when 'icons8-api'
      +code
        include:code ../codes/angular/icons8-api.html
      +code
        include:code ../codes/angular/icons8-api.js

    when 'coloring'
      +code
        include:code ../codes/angular/coloring.html
      +code
        include:code ../codes/angular/coloring.js
      +code
        include:code ../codes/angular/coloring.css

    when 'welovesvg'
      +code
        include:code ../codes/angular/welovesvg.html
      +code
        include:code ../codes/angular/welovesvg.js
