mixin code-jquery(name)
  case name
    when 'single'
      +code
        include:code ../codes/jquery/single.html
      +code
        include:code ../codes/jquery/single.js

    when 'font'
      +code
        include:code ../codes/jquery/font.html
      +code
        include:code ../codes/jquery/font.js

    when 'icon-set'
      +code
        include:code ../codes/jquery/icon-set.html
      +code
        include:code ../codes/jquery/icon-set.js

    when 'image'
      +code
        include:code ../codes/jquery/image.html
      +code
        include:code ../codes/jquery/image.js

    when 'sprite'
      +code
        include:code ../codes/jquery/sprite.html
      +code
        include:code ../codes/jquery/sprite.js

    when 'icons8-api'
      +code
        include:code ../codes/jquery/icons8-api.html

    when 'coloring'
      +code
        include:code ../codes/jquery/coloring.html
      +code
        include:code ../codes/jquery/coloring.js
      +code
        include:code ../codes/jquery/coloring.css

    when 'fa'
      +code
        include:code ../codes/jquery/fa.html
      +code
        include:code ../codes/jquery/fa.js

    when 'md'
      +code
        include:code ../codes/jquery/md.html
