extends ../../layouts/example/_jquery

block append styles
  style(type="text/css")
    include ../../codes/jquery/coloring.css

block append scripts
  script(type="text/javascript")
    include ../../codes/jquery/coloring.js

block content
  .normal-icon
    include ../../codes/jquery/coloring.html
