extends ../../layouts/example/_jquery

block append styles
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css")

block append scripts
  script(type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.1/extensions/fontawesome.min.js")

  script(type="text/javascript")
    include ../../codes/jquery/fa.js

block content
  .font-icon
    include ../../codes/jquery/fa.html
