extends ../../layouts/example/_jquery

block append styles
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css")
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet" href="assets/iconic-fonts/custom/icons.css")

block append scripts
  script(type="text/javascript")
    include ../../codes/jquery/font-icons.js

block content
  .font-icons
    include ../../codes/jquery/font-icons.html
