extends ../../layouts/example/_jquery

block append scripts
  script(type="text/javascript")
    include ../../codes/jquery/icon-set.js

block content
  .single-icon
    include ../../codes/jquery/icon-set.html
