extends ../../layouts/example/_jquery

block append scripts
  script(type="text/javascript")
    include ../../codes/jquery/single-icon.js

block content
  .single-icon
    include ../../codes/jquery/single-icon.html
