.single-icon .i8-icon {
  width: 40px;
  height: 40px;
  position: relative;
  display: block;
  margin-bottom: 10px; }
  .single-icon .i8-icon:last-child {
    margin-bottom: 0; }
  .single-icon .i8-icon:after {
    content: attr(aria-label);
    position: absolute;
    left: 100%;
    top: 50%;
    font-size: 14px;
    line-height: 1;
    margin-top: -7px;
    margin-left: 10px; }

.font-icons .i8-icon {
  font-size: 40px;
  line-height: 1;
  height: 40px;
  width: 40px;
  position: relative;
  display: block;
  margin-bottom: 10px; }
  .font-icons .i8-icon:last-child {
    margin-bottom: 0; }
  .font-icons .i8-icon:after {
    content: attr(aria-label);
    position: absolute;
    left: 100%;
    top: 50%;
    font-size: 14px;
    line-height: 1;
    margin-top: -7px;
    margin-left: 10px; }
