
.font-icon {
  .i8-icon {
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    &:last-child {
      margin-right: 0;
    }
  }

}


