extends layouts/_page

block content

  +example('icons8-api', 'Icons From Icons8 API')
  +example('icon-set', 'Svg Icon Sets')
  +example('single', 'Svg Icons')
  +example('coloring', 'Svg Icons Coloring')
  +example('font', 'Font Icons')
    | Display 3 icons from an iconic font, each with different colors.
  +example('sprite', 'Sprite icons')
  +example('image', 'Image Icons')
  +example('fa', 'Font Awesome Options')



