extends layouts/_page

block content

  +example('icon-set', 'Svg Icon Sets')
  +example('single-icon', 'Load Svg Icons From Url')
  +example('font-icons', 'Font Icons')
    | Display 3 icons from an iconic font, each with different colors.



