extends layouts/_page

block content

  +example('welovesvg', 'Icons From <a href="https://github.com/icons8/welovesvg">WeLoveSVG</a> Collection')
  +example('icons8-api', 'Icons From Icons8 API')
  +example('icon-set', 'SVG Icon Sets')
  +example('single', 'SVG Icons')
  +example('coloring', 'SVG Icons Coloring')
  +example('font', 'Font Icons')
    | Display 3 icons from an iconic font, each with different colors.
  +example('sprite', 'Sprite Icons')
  +example('image', 'Image Icons')
  +example('fa', 'Font Awesome Options')
  +example('md', 'Material Design Icons')



