extends layouts/_page

block content

  +example('welovesvg', 'Icons From <a href="https://icons8.github.io/welovesvg/">WeLoveSVG</a> Collection')
  +example('icons8-api', 'Icons From Icons8 API')
  +example('icon-set', 'SVG Icon Sets')
  +example('coloring', 'SVG Icons Coloring')
  +example('single', 'SVG Icons')
  +example('font', 'Font Icons')
    | Display 2 icons from an iconic font, each with different colors.
  +example('sprite', 'Sprite Icons')
  +example('image', 'Image Icons')



