extends layouts/_page

block content

  +example('icons8-icon', 'Icons From Icons8 API')
  +example('icon-set', 'Svg Icon Sets')
  +example('single-icon', 'Svg Icons')
  +example('font-icons', 'Font Icons')
    | Display 3 icons from an iconic font, each with different colors.
  +example('sprite-icons', 'Sprite icons')
  +example('single-icon-image', 'Image Icons')



