extends ../_example

block append scripts
  script(type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js")
  script(type="text/javascript" src="//rawgit.com/icons8/i8-icon-bower/master/angular-i8-icon.min.js")

block body
  body(ng-app="app")
    block content
