
.navbar {
  $background-color: #32c24d;

  background: $background-color;
  color: #fff;
  border: none;
  border-radius: 0;

  .nav > li > a {
    padding: 0 15px;
    font-size: 18px;
    font-weight: 300;
    line-height: 48px;

    &:hover,
    &:focus {
      background: $background-color;
    }

    b, strong {
      font-weight: 600;
    }
  }

  a {
    &, &:hover, &:focus {
      color: #fff;
    }
  }
}

.navbar-brand {
  height: auto;
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 48px;


  webicon {
    width: 32px;
    height: 32px;
    float: left;
    padding: 8px 10px 8px 15px;
    box-sizing: content-box;
  }
}
