extends ../../layouts/example/_angular

block append styles
  style(type="text/css")
    include ../../codes/angular/coloring.css

block append scripts
  script(type="text/javascript")
    include ../../codes/angular/coloring.js

block content
  .normal-icon
    include ../../codes/angular/coloring.html
