extends ../../layouts/example/_angular

block append styles
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css")
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet" href="assets/iconic-fonts/custom/icons.css")

block append scripts
  script(type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.5/extensions/fontawesome.min.js")
  script(type="text/javascript" src="//cdn.rawgit.com/icons8/bower-webicon/v0.10.5/extensions/glyphicons.min.js")

  script(type="text/javascript")
    include ../../codes/angular/font.js

block content
  .font-icon
    include ../../codes/angular/font.html
