extends ../../layouts/example/_angular

block append scripts
  script(type="text/javascript")
    include ../../codes/angular/icon-set.js

block content
  .normal-icon
    include ../../codes/angular/icon-set.html
