extends ../../layouts/example/_angular

block append scripts
  script(type="text/javascript")
    include ../../codes/angular/icons8-api.js

block content
  .normal-icon
    include ../../codes/angular/icons8-api.html
