extends ../../layouts/example/_angular

block append scripts
  script(type="text/javascript")
    include ../../codes/angular/single-icon.js

block content
  .single-icon
    include ../../codes/angular/single-icon.html
