extends ../../layouts/example/_angular

block append scripts
  script(type="text/javascript")
    include ../../codes/angular/welovesvg.js

block content
  .normal-icon
    include ../../codes/angular/welovesvg.html
