/* Include this file in your html if you are using lazy javascript sources loading. */

@charset "UTF-8";

i8-icon, i8icon, [i8-icon], [i8icon], [data-i8-icon], [data-i8icon], .i8icon, .i8-icon {
  display: inline-block;
}
.i8-svg-icon svg {
  fill: currentColor;
}