nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href="https://github.com/icons8/i8-icon")
        i8-icon(icon="//cdn.rawgit.com/icons8/flat-color-icons/v1.0.1/svg/icons8_cup.svg")
        | i8-icon
    ul.nav.navbar-nav.navbar-right
      li
        a(href="https://github.com/icons8/i8-icon-bower/archive/v0.0.2.zip")
          | Download <strong>zip</strong>
      li
        a(href="https://github.com/icons8/i8-icon-bower/archive/v0.0.2.tar.gz")
          | Download <strong>tar.gz</strong>
      li
        a(href="https://github.com/icons8/i8-icon")
          | View on <strong>github</strong>
