nav.navbar
  .container-fluid
    .navbar-header
      a.navbar-brand(href="https://icons8.github.io/webicon/")
        webicon(icon="./images/logo.svg")
        | WebIcon by Icons8
    ul.nav.navbar-nav.navbar-right
      li
        a(href="https://github.com/icons8/bower-webicon/archive/v0.10.6.zip")
          | Download <strong>zip</strong>
      li
        a(href="https://github.com/icons8/bower-webicon/archive/v0.10.6.tar.gz")
          | Download <strong>tar.gz</strong>
      li
        a(href="https://github.com/icons8/webicon")
          | View on <strong>github</strong>
