nav.navbar
  .container-fluid
    .navbar-header
      a.navbar-brand(href="https://github.com/icons8/i8-icon")
        i8-icon(icon="./images/logo.svg")
        | i8-icon
    ul.nav.navbar-nav.navbar-right
      li
        a(href="https://github.com/icons8/i8-icon-bower/archive/v0.9.4.zip")
          | Download <strong>zip</strong>
      li
        a(href="https://github.com/icons8/i8-icon-bower/archive/v0.9.4.tar.gz")
          | Download <strong>tar.gz</strong>
      li
        a(href="https://github.com/icons8/i8-icon")
          | View on <strong>github</strong>
